# Токен твоего Telegram бота (обязательно)
BOT_TOKEN=8720227483:AAGgGRK893KQYOg51pjuxImWogFd4Y3t9eg

# ID твоего Telegram канала (обязательно)
CHANNEL_ID=-1002808898833

# Токен Discord аккаунта (для парсера, обязательно)
DISCORD_TOKEN=MTA4MzY2ODI4NTczMzczMjM2Mg.GD8ff0.8XPkBDX_GRZO1nEmYhf3_KoUT90FCDADOcnArk

# ID Discord сервера (обязательно)
DISCORD_GUILD_ID=1392614350686130198

# ID каналов Discord (можно оставить как есть, если не менялись)
DISCORD_SEEDS_CHANNEL=1474799488689377463
DISCORD_GEAR_CHANNEL=1474799504401236090
DISCORD_WEATHER_CHANNEL=1474799519706255510

# Старое API (оставляем для совместимости, но оно не работает)
API_URL=https://stock.gardenhorizonswiki.com/stock.json

# Интервал проверки API (секунды)
UPDATE_INTERVAL=10